[flake8]
exclude=
    __pycache__
ignore =
    E2, # whitespaces
    W503, # bad practice: PEP 8 recommended style, which was changed on April 16th, 2016
    E701, # multiple statements on one line
    E704,  # multiple statements on one line
max-line-length = 120
show-source = True
builtins = 'self'
count = True
statistics = True